{% extends "pew/base.html" %}

{% block content %}

    <div class="row">
        <div class="span8">
            <p class="lead">
                We're a user group providing technical, professional and social
                support for Python programmers based in Edinburgh. We meet
                on the <strong>4th Tuesday</strong> of each month,
                and also run other events.
            </p>

            <h3>Upcoming Events</h3>
            {% if upcoming_events %}
            <ul class="list-unstyled">
                {% for e in upcoming_events reversed %}
                <li>
                    <strong>
						<a href="{% url 'event-details' year=e.event_dt.year month=e.event_dt.month slug=e.slug %}">{{e.title}}</a></strong> on {{e.event_dt|date:"D, d M Y"}} in {{e.location|default:"an undetermined location"}}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>
                There are no events arranged in the near future.
            </p>
            {% endif %}
        </div>
        <div class="span4">
            <div class="well">

                <h3>Find out more?</h3>

                <ul class="unstyled">
                    <li><i class="icon-twitter"></i>
                        <a href="http://twitter.com/pythonedinburgh">
                        Follow us on twitter</a></li>
                    <li><i class="icon-envelope-alt"></i>
                        Join the <a href="http://mail.python.org/mailman/listinfo/edinburgh">mailing list</a> or have a look through the
                        <a href="http://mail.python.org/pipermail/edinburgh/">archives</a>
                    </li>
                    <li><i class="icon-group"></i>
                        IRC:<a href="irc://irc.freenode.net/python-scotland">
                        #python-scotland</a> on Freenode
                    </li>
                </ul>
            </div>
            <div>
                <a href="http://www.oreilly.com/"><img src="/static/images/oreilly_ug.gif" width="250" height="60" /></a>
            </div>
        </div>
    </div>

        {% if tweets %}
            <h4>Recent Tweets</h4>
            <div class="tweets">
            {% for tweet in tweets %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object avatar" src="{{ tweet.profile_image_url }}">
                    </a>
                    <div class="media-body">
                        {{ tweet.html }}
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

	
{% endblock %}
