<!DOCTYPE html> 
<html lang="en">
<head> 
	
	<title>Python Edinburgh</title> 
	
	<meta name="description" content="The support group for Python developers in Edinburgh, Scotland." />
	<meta name="keywords" content="python,edinburgh,meetup,dojo,events" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="icon" href="/static/favicon.png" type="image/png" />
	
	<link rel="alternate" type="application/rss+xml" title="Python Edinburgh Meetup RSS Feed"
	   href="http://www.google.com/calendar/feeds/practicalpoetry.co.uk_sbqp5tpnm93b3bleap3mqf67jk%40group.calendar.google.com/public/basic?futureevents=true"/>
    <link rel="alternate" type="text/calendar" title="Python Edinburgh Meetup iCal Feed"
       href="http://www.google.com/calendar/ical/practicalpoetry.co.uk_sbqp5tpnm93b3bleap3mqf67jk%40group.calendar.google.com/public/basic.ics?futureevents=true"/>

	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/main.css" rel="stylesheet" type="text/css" />

    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	
	{% block extra_head %}{% endblock %}
	
</head> 
<body>

<div id="banner">
    <img src="/static/images/banner-logo.png">Python <b>Edinburgh</b>
</div>
	
<div class="container">

        {% block content %}

        {% endblock %}

</div>

<div id="footer">
    <span class="pull-left">Go west to <a href="http://www.pythonglasgow.org/">Glasgow</a></span>
    Powered by <a href="http://flask.pocoo.org/">Flask</a>
    /
    Running on <a href="https://cloud.google.com/products/">Google App Engine</a>
    /
    Code on <a href="http://github.com/python-edinburgh/pythonedinburgh">GitHub</a>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17948973-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript" src="/static/javascript/retina.js"></script>
</body> 
</html>
