{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="span8">
            <div class="hero-unit">
            <h1>Pythonistas of Edinburgh!</h1>

            <p class="lead">
                We're a user group providing technical, professional and social
                support for Python programmers based in Edinburgh. We meet in the
                pub monthly, and periodically run other events.
            </p>
            </div>

            <h4>When and Where</h4>

            <p>
                Python Edinburgh meets on the <strong>4th Tuesday</strong> of
                each month. Other events such as talks and sprints are hosted
                less frequently.
            </p>
            {% if upcoming_events|count == 0 %}
            <p>
                There are no events arranged in the near future.
            </p>
            {% elif upcoming_events|count == 1 %}
            <p>
                The next event is <strong>{{upcoming_events[0].title}}</strong> on {{upcoming_events[0].date_string()}} in {{upcoming_events[0].where}}.
            </p>
            {% else %}
            <p>
                Upcoming events are:
            </p>
            <ul>
            {% for e in upcoming_events|reverse %}
                <li>
                    <strong>{{e.title}}</strong> on {{e.date_string()}} in {{e.where}}
                </li>

            {% endfor %}
            </ul>
            {% endif %}

            <p>
                Our meetup calendar is syndicated as <a href="http://www.google.com/calendar/feeds/practicalpoetry.co.uk_sbqp5tpnm93b3bleap3mqf67jk%40group.calendar.google.com/public/basic?futureevents=true">rss</a>
                and <a href="http://www.google.com/calendar/ical/practicalpoetry.co.uk_sbqp5tpnm93b3bleap3mqf67jk%40group.calendar.google.com/public/basic.ics?futureevents=true">ical</a>,
                or you can go and have a <a href="http://www.google.com/calendar/b/0/embed?src=practicalpoetry.co.uk_sbqp5tpnm93b3bleap3mqf67jk@group.calendar.google.com&mode=AGENDA">look</a>.
            </p>
        </div>
        <div class="span4">
            <div class="well">

                <h4>Find out more?</h4>

                <ul class="unstyled">
                    <li><i class="icon-twitter"></i>
                        <a href="http://twitter.com/pythonedinburgh">
                        Follow us on twitter</a></li>
                    <li><i class="icon-envelope-alt"></i>
                        Join the <a href="http://mail.python.org/mailman/listinfo/edinburgh">mailing list</a> or have a look through the
                        <a href="http://mail.python.org/pipermail/edinburgh/">archives</a>
                    </li>
                    <li><i class="icon-group"></i>
                        IRC:<a href="irc://irc.freenode.net/python-scotland">
                        #python-scotland</a> on Freenode
                    </li>
                </ul>
            </div>
            <div>
                <a href="http://www.oreilly.com/"><img src="/static/images/oreilly_ug.gif" width="250" height="60" /></a>
            </div>
        </div>
    </div>

        {% if tweets %}
            <h4>Recent Tweets</h4>
            <div class="tweets">
            {% for tweet in tweets %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object avatar" src="{{ tweet.profile_image_url }}">
                    </a>
                    <div class="media-body">
                        {{ tweet.html }}
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

	
{% endblock %}
