{% extends "wiki_base.html" %}

{% block title %}{{ application_name }} - {{ page.name|escape }}{% endblock %}

{% block head %}
  <style type="text/css">

  #body a[href ^="http"] {
    color: #36b;
    background: url(/static/images/external.png) center right no-repeat;
    padding-right: 13px;
  }

  #body h1 a.wikiword, #body h1 a.wikiword:visited {
    color: black;
    text-decoration: none;
  }

  </style>
{% endblock %}

{% block buttons %}<span class="item"><input type="button" onclick="location.href='{{ page.edit_url|escape }}'" value="Edit This Page"/></span>{% endblock %}

{% block body %}
  {{ page.wikified_content }}
{% endblock %}
